* { 
	box-sizing: border-box;
}

html {
    margin: 0;
    scroll-behavior: smooth;
}

// Variables
$navbar-height: 80px;
// $background-color: black;
// $primary-color: grey;
// $font-color: white;
// $accent-color: gold;
$background-color: white;
$primary-color: white;
$font-color: black;
$accent-color: gold;

//mixins

@mixin logo-pivot($Y: -15deg) {
    transform: rotateX(30deg) rotateY($Y) rotateZ(17deg);
}

@mixin logo-animation {
    animation: logo_animation linear;
    animation-timeline: scroll();
}

@keyframes logo_animation {
    from { @include logo-pivot(-15deg) };
    50% { @include logo-pivot(15deg) }
    to { @include logo-pivot(-15deg) };
}

body {
    margin: 0;

    header {
        border-bottom: 1px solid $accent-color;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: $navbar-height;
        background-color: $background-color;
        
        nav#navbar {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            height: $navbar-height;

            svg#logo-navbar {
                height: 90%;
                stroke: $accent-color;
                stroke-width: 1.5px;
                margin: 5px;
                overflow: visible;
            }

            .nav-list {
                display: flex;
                flex-direction: row;
                list-style-type: none;
                margin-right: 50px;
                
                .nav-item {
                    margin-left: 80px;
                    
                    a {
                        text-decoration: none;
                        font-size: 30px;
                        color: $font-color;
                    }
                }
            }
        }
    }

    #logo-background {
        position: fixed;
        top: calc(50% - 150px);
        right: 200px;
        stroke: $accent-color;
        stroke-width: 1.5px;
        overflow: visible;
        width: 300px;
        height: 300px;
        @include logo-pivot(-15deg);
        @include logo-animation();
    }

    #hero-section {
        height: calc(100vh - $navbar-height);
        background-color: $background-color;


        #introduction {
            position: absolute;
            top: 35%;
            margin-left: 100px;

            #fullname {

                .name {
                    margin: 0;
                    font-size: 55px;
                    font-weight: 1;
                    letter-spacing: 15px;
                }

                #lastname {
                    margin-left: 55px;
                }

            }

            #job-title {
                font-weight: 1;
            }

            #pitch {
                margin-left: 40px;
            }
        }
            
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            margin-left: calc(50vw - 25px);
            bottom: 4%;
            text-decoration: none;
            color: $font-color;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid black;

            svg {
                stroke: black;
                height: 25px;
                width: 25px;
            }
        }
    }

    #resume-section {
        height: 2000px;
    }
}

